$icon-font-path: '../fonts/';

// Colors
$gray-mid:               #555 !default;
$aquamarine: hsla(181, 38%, 59%, 1); // #337ab7
$aquamarine2: rgba(112,189,189,0.5); // EMBL-EBI
$deep-blue: #2f6fad;

$brand-primary: $aquamarine2;

$primary-color:   $aquamarine2;
$highlight-color:  #9CFF0D;

$panel-padding: 5px;
$footer-height: 60px;


// General Type
$font-size-base: 13px;
$font-size-h1: 370%;
$font-size-h2: 277%;
$font-size-h3: 182%;
$font-size-h4: 161.6%;
$font-size-h5: 138.5%;
$font-size-h6: 123%;

$headings-font-family: 'HelveticaNeueLT Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$headings-font-weight: normal;
$headings-line-height: 1.2;
$headings-color: #222;

$link-color: #3e3e3e;
$link-hover-color: #000;
$link-hover-decoration: none;

/* V-Shield */
$vs-key-color: #444;
$vs-val-color: rgb(183, 239, 171);
$vs-text-color: white;
$vs-bord-rad: 4px;