<nav>
  <ul class="grid_24" id="local-nav">
    <li v-for="page in pages"

        :class="{ 'first': $index === 0, 
                  'active': isActive($key),
                  'last': $index === pages.length }">
        <a v-link="{ path: page }">{{$key}}</a>
    </li>
    <!-- 
    <li class="functional last"><a href="#" class="icon icon-functional" data-icon="l">Login</a></li>
    <li class="functional"><a href="#" class="icon icon-generic" data-icon="\">Feedback</a></li>
    <li class="functional"><a href="#" class="icon icon-functional" data-icon="r">Share</a></li>
    -->
  </ul>
</nav>