<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      layout:decorator="__parent_base"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      th:with="currentPage = 'search'">
<head>
    <title>Search</title>

    <style type="text/css">

    </style>

    <script th:inline="javascript">
        /*<![CDATA[*/
        window.visualization = false;
        /*]]>*/
    </script>
</head>
<body id="app">
<main layout:fragment="content">
    <div v-if="hasAlerts" class="alerts__container" >
        <component v-for="alert in alerts"
                   is="alert"
                   v-bind:type="alert.type"
                   v-bind:timeout="alert.timeout"
                   v-on:alert-closed="removeAlert(alert)">
            {{alert.message}}
        </component>
    </div>

    <div th:replace="fragments/searchForm :: searchInput" th:remove="tag"></div>
    <div v-bind:class="{loading: isQuerying}"></div>
    <br><br>
    <div class="facet-filter-list">
        <shield v-for="(key, value) in filterList"
                :key="key"
                :value="value"
                :closable="true"
                value-color="random"
                @shield-closed="removeFilter(key)">
        </shield>
    </div>
    <div class="col-xs-12">
        <section id="sectionList" v-show="submittedQuery" v-cloak>
            <div v-if="!queryHasResults">
                <div class="row">
                    <h3>
                        No results have been found for <i>{{queryTerm}}</i>
                        <span class="small"><a href="#" @click="querySamplesUsingFuzzy()">Try for similar terms?</a></span>
                    </h3>
                </div>
            </div>

            <div v-else="">
                <div>
                    <div class="col-md-4"></div>
                    <div class="col-md-8">
                        <h3>{{resultsNumber | numberFormat }} entries found for: <i>{{queryTerm}}
                        <span v-if="useFuzzy" class="small"> (and related terms)</span></i>
                        </h3>
                    </div>
                </div>
                <div v-else="">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="panel panel-default refine-panel">
                                    <div class="panel-heading">
                                        <h3>Refine search results</h3>
                                    </div>
                                    <div class="panel-body">
                                        <form>
                                            <div class="form-group">
                                                <label for="fuzzy-search">Search for similar terms</label>
                                                <input type="checkbox" id="fuzzy-search" name="fuzzy-search"
                                                       v-model="useFuzzy" @change="querySamples" />
                                            </div>
                                            <div class="form-group">
                                                <label for="collapse-facets">Collapse all facets</label>
                                                <input type="checkbox" v-model="facetsCollapsed" id="collapse-facets" name="collapse-facets"
                                                       @change="collapseFacets">
                                            </div>
                                        </form>

                                        <component v-for="(key,facetObj) in facets"
                                                   is="facet" :title="key | startCase"
                                                   :keys="facetObj.keys"
                                                   :values="facetObj.vals"
                                                   :facet-id="key + 'Filter'">
                                        </component>
                                    </div>
                                    <div class="panel-footer">
                                        <component is="pagination"
                                                   :total-results="resultsNumber"
                                                   :displayed-results="samplesToRetrieve">
                                        </component>
                                        <component is="items-dropdown"
                                                   :items-per-page="samplesToRetrieve">
                                        </component>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <biosample v-for="biosample in biosamples"
                                       :content="biosample"
                                       :display-function="biosampleMap">

                            </biosample>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</main>

<th:block layout:fragment="custom-endpage-scripts">
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/history.js/1.8/bundled-uncompressed/html4+html5/native.history.js}" src="https://cdnjs.cloudflare.com/ajax/libs/history.js/1.8/bundled-uncompressed/html4+html5/native.history.js"></script>
    <!--<script th:src="@{/javascript/toolsFunctions.js}"></script>-->
    <script th:src="@{/javascript/searchComponents.js}" src="../static/javascript/searchComponents.js"></script>
    <!--<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>-->
</th:block>

</body>
</html>
