<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css}" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css">
    <link rel="stylesheet" th:href="@{/stylesheets/base.css}" href="../../static/stylesheets/base.css">
    <link rel="stylesheet" th:href="@{/stylesheets/style.css}" href="../../static/stylesheets/style.css">

    <script th:src="@{https://code.jquery.com/jquery-1.12.3.js}" src="https://code.jquery.com/jquery-1.12.3.js"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js}" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js"></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.js?features=default,Intl.~locale.en"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        window.app = {
            urls: {
                baseUrl: [[@{/}]],
                apiUrl: [[@{/api}]],
                samplesInGroupUrl: [[@{/api/samples/search/findByTextAndGroup}]],
                realtionsUrl: [[${@environment.getProperty('relations.server')}]],
                samplesUrl: [[@{/samples}]],
                groupsUrl: [[@{/groups}]],
                searchUrl: [[@{/search}]]
            }
        }
        /*]]>*/
    </script>
    <script th:src="@{/javascript/init.js}"></script>
</head>
<body>

</body>
</html>
