solr.server                         http://HOSTNAME:PORT/solr/
solr.server.search.core-name        CORE

#file describing which facets to ignore
#solr.ignoredfacets.file				

spring.data.neo4j.uri				PATH_to_File

spring.data.rest.base-path          /api
spring.data.rest.default-page-size  50
spring.thymeleaf.mode               LEGACYHTML5

# Mail informations
spring.mail.host                    YOUR_HOSTNAME
spring.mail.port                    YOUR_HOSTPORT

biosamples.feedback.mail.to         name@service.com
biosamples.feedback.mail.from       name@service.com
biosamples.feedback.mail.subject    Your Subject
