<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="scripts">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>


    <!-- Your custom JavaScript file scan go here... change names accordingly -->
    <!--
    <script defer="defer" src="//www.ebi.ac.uk/web_guidelines/js/plugins.js"></script>
    <script defer="defer" src="//www.ebi.ac.uk/web_guidelines/js/script.js"></script>
    -->
    <script defer="defer" src="//www.ebi.ac.uk/web_guidelines/js/cookiebanner.js"></script>
    <script defer="defer" src="//www.ebi.ac.uk/web_guidelines/js/foot.js"></script>

    <!-- Biosamples scripts -->
    <script th:src="@{/javascript/biosamples_common_10.js}" src="../static/javascript/feedback.js"></script>

    <!-- end scripts-->

    <!-- Google Analytics details... -->
    <!-- Change UA-XXXXX-X to be your site's ID -->
    <!--
    <script>
      window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
      Modernizr.load({
        load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
      });
    </script>
    -->


    <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
         chromium.org/developers/how-tos/chrome-frame-getting-started -->
    <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>

    <![endif]-->


</th:block>
</body>
</html>
