<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section id="ae-feedback" th:fragment="dialog">
    <h3>
        Have your say<a id="ae-feedback-close" href="#" class="icon icon-functional" data-icon="x"></a>
    </h3>
    <form method="post" action="#" onsubmit="return false">
        <fieldset>
            <label for="ae-feedback-message">We value your feedback.
                Please leave your comment below.</label>
            <textarea id="ae-feedback-message" name="m"></textarea>
        </fieldset>
        <fieldset>
            <label for="ae-email-field">Optionally please enter your
                email address if you wish to get a response.<br>We will never
                share this address with anyone else.
            </label><input id="ae-email-field" name="e" maxlength="50">
        </fieldset>
        <input type="hidden" name="p" th:value="${#httpServletRequest.requestURI}" value="http://www.ebi.ac.uk/biosamples/?null">
        <input type="hidden" name="r" value="http://www.ebi.ac.uk/biosamples">
        <input class="submit" type="submit" value="Send">
    </form>
</section>
</body>
</html>