<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<body>
<!-- Primary Navigation -->
<!--/*

    Currently available values for navigationEntry are:
    - 'home'
    - 'search'
    - 'samples'
    - 'groups'
    - 'submit'
    - 'help'
    - 'about'

    You can add or remove pages form the navigation, remember to update also this documentation

*/-->
<th:block layout:fragment="primaryNav(entry)">
    <!--<nav th:with="navigationPage=${#strings.defaultString(customPage,'home')}">-->
    <nav th:with="entry=${#strings.defaultString(entry,'home')}">
        <ul class="grid_24" id="local-nav">
            <li class="first" th:classappend="${entry == 'home'} ? 'active'">
                <a th:href="@{/}" href="/" title="Biosamples">Home</a>
            </li>
            <li th:classappend="${entry == 'search'} ? 'active'">
                <a th:href="@{/search}" href="/search">Search</a>
            </li>
            <!--<li th:classappend="${navigationPage == 'samples'} ? 'active'">-->
            <!--<a th:href="@{/samples}" href="/samples" title="Samples">Samples</a>-->
            <!--</li>-->
            <!--<li th:classappend="${navigationPage == 'groups'} ? 'active'">-->
            <!--<a th:href="@{/groups}" href="/groups" title="Groups">Sample Groups</a>-->
            <!--</li>-->
            <li th:classappend="${entry == 'submit'} ? 'active'">
                <a th:href="@{/help/submit}" href="/help/submit" title="Submit">Submit</a>
            </li>
            <li th:classappend="${entry == 'help'} ? 'active'">
                <a th:href="@{/help}" href="/help" title="Help">Help</a>
            </li>
            <li class="last" th:classappend="${entry == 'about'} ? 'active'">
                <a th:href="@{/about}" href="about">About BioSamples</a>
            </li>
            <li class="functional feedback last first"><a href="#" class="icon icon-static" data-icon="\">Feedback</a></li>
        </ul>
    </nav>
</th:block>

<th:block layout:fragment="secondaryNav(root,entry)">
    <ul id="secondary-nav" th:with="root=${#strings.defaultString(root,'/help')}">
        <li class="first" th:classappend="${entry == 'home'} ? 'active'">
            <a th:href="@{${root}}" title="Help - Home">Help - Home</a>
        </li>
        <li class="first" th:classappend="${entry == 'search'} ? 'active'">
            <a th:href="@{${root + '/search'}}" title="Searching">Searching</a>
        </li>
        <li class="first" th:classappend="${entry == 'submitting'} ? 'active'">
            <a th:href="@{${root + '/submit'}}" title="Submitting">Submitting</a>
        </li>
        <li class="first" th:classappend="${entry == 'api'} ? 'active'">
            <a th:href="@{${root + '/api'}}" title="Programatic interface">Programatic interface</a>
        </li>
        <li class="first" th:classappend="${entry == 'faq'} ? 'active'">
            <a th:href="@{${root + '/faq'}}" title="Frequently Asked Questions">FAQ</a>
        </li>
        <li class="first" th:classappend="${entry == 'news'} ? 'active'">
            <a th:href="@{${root + '/news'}}" title="news">News</a>
        </li>
        <li class="first" th:classappend="${entry == 'contactus'} ? 'active'">
            <a th:href="@{${root + '/contact_us'}}" title="Contact Us">Contact Us</a>
        </li>
    </ul>
</th:block>

</body>
</html>
