<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Form</title>
</head>
<body>

<!-- Search Input Form - based on Vue.js javascript framework -->
<th:block th:fragment="searchInput" th:with="isSearch = false">
    <form th:action="@{/search}" id="local-search" name="local-search" method="get" @submit.prevent="querySamples">
        <fieldset>
            <div class="left">
                <label>
                    <input type="text"
                           name="searchTerm"
                           id="local-searchbox"
                           th:value="${searchTerm}"
                           placeholder="Start your search"
                           v-model="searchTerm">
                </label>

            </div>
            <div class="right">
                <input type="submit" value="Search" class="submit" />
            </div>
        </fieldset>
    </form>
</th:block>
</body>
</html>