<!-- <div id="pagination" v-show="needPagination()"> -->
<div id="pagination" data-component="pagination">
    <ul class="pagination pagination-sm">
        <li @click.stop.prevent="goPrevious()"
            v-show="needNavigation()"
            :class=" { 'disabled': isFirstPage(currentPage) }">
            <a aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li>
            <span id="inputPageContainer" :class=" {'editMode': editMode }">
                <input  id="inputPage"  placeholder="Jump to page..." type="text" 
                            v-show="editMode"
                            v-model="currentPage"
                            @blur="exitEditMode"
                            @keyup.enter="exitEditMode">
                <span v-show="editMode">/{{totalPages}}</span>
                <a href="#" v-show="!editMode"
                            @click.stop.prevent="enterEditMode">
                    {{currentPage}}/{{totalPages}}

                </a>
            </span>
        </li>
        <li @click.stop.prevent="goNext()"
            v-show="needNavigation()"
            :class="{'disabled': isLastPage(currentPage)}">
            <a aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</div>