<!doctype html>

<!--/*

    Thymeleaf template variables:

    overrideTitle = {true,false} - you can use this variable in combination with the title block to override the title-pattern
    currentPage = 'some strings' - define the current page inside the primary navigation. Check out fragments/primaryNavigation for info

*/-->



<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!-->
<html class="no-js"
    lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
    th:with="currentPage='home',overrideTitle=false">
<!--<![endif]-->
<head>
    <title th:text="${#bools.isTrue(overrideTitle) ? '' : '&lt; BioSamples &lt; EMBL-EBI'}" layout:title-pattern="$CONTENT_TITLE $DECORATOR_TITLE"> &lt; BioSamples &lt; EMBL-EBI</title>
    <!--<object th:include="fragments/head :: head" th:remove="tag"></object>-->
    <!--<th:block th:include="${fragment_dir + /head :: head}"></th:block>-->
    <th:block th:include="fragments/head :: head"></th:block>
</head>


<body class="level2"><!-- add any of your classes or IDs -->

<th:block th:replace="fragments/skipTo :: skipNavigation"></th:block>

<div id="wrapper" class="container_24">

    <header th:replace="fragments/header::header"></header>

    <div id="content" role="main" class="grid_24 clearfix" layout:fragment="content">
        Hello World
    </div>

    <footer th:replace="fragments/footer :: footer"></footer>
</div> <!--! end of #wrapper -->


<th:block th:include="fragments/common-endpage-scripts :: scripts" th:remove="tag"></th:block>

<th:block layout:fragment="custom-endpage-scripts" th:remove="tag"></th:block>

</body>
</html>
