<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorator="__parent_base"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      th:with="currentPage = 'groups'">
<head>
    <title th:text="${group.accession}">SAMEGxxxxx &lt; BioSamples &lt; EMBL-EBI</title>

    <link th:href="@{/stylesheets/relationsVis/vis.min.css}" href="/stylesheets/relationsVis/vis.min.css"  rel="stylesheet" type="text/css"  />
    <link th:href="@{/stylesheets/relationsVis/relationsVis.css}" href="/stylesheets/relationsVis/relationsVis.css"  rel="stylesheet" type="text/css"  />
    <link th:href="@{/stylesheets/relationsVis/awesomplete.css}" href="/stylesheets/relationsVis/awesomplete.css"  rel="stylesheet" type="text/css"  />

    <!--/* Pass SPRING variables to Javascript */-->
    <script th:inline="javascript">
        /*<![CDATA[*/
        window.accession = [[${group.accession}]];
        window.table_attrs = [[${table_attrs}]];
        window.jQuery = jQuery;
        /*]]>*/
    </script>

</head>
<body>


<main layout:fragment="content">

    <!-- Biosamples specific content goes here -->
    <section id="group_content">
        <h4 th:text="${'Group ' + group.accession}">Group SAMEGxxxxx</h4>
        <div class="detail_table">

            <table id="bs_results_tablesamplegroupdetail" class="listing">
                <tbody>
                <!-- Common group attributes -->
                <tr>
                    <td class="col_title"><b>Name</b></td>
                    <td th:text="${group.name}">Test Group Name</td>
                </tr>
                <tr th:if="${#strings.isEmpty(group.description)}">
                    <td class="col_title"><b>Description</b></td>
                    <td class="characteristic-mapping" th:text="${group.description}">This is a test description</td>
                </tr>
                <tr>
                    <td class="col_title"><b>Release Date</b></td>
                    <td th:text="${group.releaseDate}">1901-04-01</td>
                </tr>
                <tr>
                    <td class="col_title"><b>Last Updated</b></td>
                    <td th:text="${group.updateDate}">1901-04-01</td>
                </tr>
                <tr>
                    <td class="col_title"><b>Submission Title</b></td>
                    <td th:text="${group.submissionTitle}">Test Title</td>
                </tr>
                <tr>
                    <td class="col_title"><b>Submission Identifier</b></td>
                    <td th:text="${group.submissionAccession}">TST-101</td>
                </tr>

                <tr th:if="${group.organization}">
                    <td class="col_title"><b>Organization</b></td>
                    <td class="organization-field-content" th:text="${group.organization}"></td>
                </tr>
                <tr th:if="${group.contact}">
                    <td class="col_title"><b>Contact</b></td>
                    <td class="contact-field-content" th:text="${group.contact}"></td>
                </tr>
                <tr th:if="${group.publications}">
                    <td class="col_title"><b>Publications</b></td>
                    <td class="publications-field-content" th:text="${group.publications}"></td>
                </tr>

                <!-- start all characteristics -->
                <tr th:each="characteristic: ${group.characteristics}" th:unless="${characteristic.key == 'organism' or characteristic.key == 'groupName'  or characteristic.key == 'groupTitle' or characteristic.key == 'groupDescription'}">
                    <td class="col_title"><b th:utext="${characteristic.key}">Characteristic</b></td>
                    <td th:if="${#maps.containsKey(group.characteristics,characteristic.key)}">
                        <div class="characteristic-mapping" th:each="value: ${group.characteristics.get(characteristic.key)}">
                            <div class="characteristic-mapping-payload" th:text="${value}">[{"foo":"bar"}]</div>
                        </div>
                    </td>
                </tr>
                <!-- end all characteristics -->

                <tr th:if="${group.hasSamples()}">
                    <td class="col_title"><b>Samples in group</b></td>
                    <td>
                        <div th:text="${#arrays.length(group.samples)}">3</div>
                    </td>
                </tr>

                <tr th:if="${not #strings.isEmpty(group.externalReferences)}">
                    <td class="col_title"><b>External references</b></td>
                    <td>
                        <div class="external-references-payload"
                             th:text="${group.externalReferences}">
                            [{"name":"bar","acc":"1234","url":"http://www.google.com"},{"name":"foo","acc":"9876","url":"http://www.google.co.uk"}]
                        </div>
                    </td>
                </tr>


                <tr th:if="${common_attrs}">
                    <td class="col_title"><b>Common Attributes</b></td>
                    <td>
                        <table class="common-attr">
                            <thead>
                            <tr>
                                <th th:class="'col_title'"
                                    th:each="attr: ${common_attrs}"
                                    th:text="${attr.key}">attrname</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td th:each="attr: ${common_attrs}" >
                                    <div class="characteristic-mapping" th:if="${not #strings.isEmpty(attr)}">
                                        <div class="characteristic-mapping-payload" th:text="${attr.value}">{"foo":"bar"}</div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>

                        </table>
                    </td>
                </tr>

                </tbody>

                <!-- Samples summary table goes here -->
            </table>
        </div>
    </section>

    <section th:if="${group.hasSamples()}" id="app" class="sample-table col-xs-12">
        <h4>Samples in group</h4>

        <div :class="{loading: isQuerying}"></div>
        <form class="sample-table__controls" @submit="querySamplesInGroup">
            <div class="controls__search-box">
                <input class="form-control" type="text" style="width:100%" v-model="keyword">
            </div>
            <div class="controls__search-btn">
                <input type="submit" class="btn btn-primary" value="Search">
            </div>
            <component is="pagination" class="controls__pagination"
                       :total-results="resultsNumber"
                       :displayed-results="samplesToRetrieve">
            </component>
            <component is="items-dropdown" class="controls__size-dropdown"
                       :items-per-page="samplesToRetrieve">
            </component>
        </form>
        <div class="sample-table__scroll-container">
            <div class="sample-table__scroller"></div>
        </div>
        <div class="sample-table__content" style="overflow: auto;">
            <component is="v-table" class="listing"
                       :columns="samplesAttributes"
                       :data="groupSamples"
                       :value-function="readValues">
            </component>
        </div>
    </section>

    <!-- New part Vis-->
    <section class="relation-graph col-xs-12">
        <h4>Group Relations</h4>
        <div th:if="${groupSize < 100 and groupSize > 0}" id="ontology_vis"></div>
        <h3 th:if="${groupSize >= 100}">Too many relationships to display</h3>
        <h3 th:if="${groupSize <= 0}">No relationships to display</h3>
    </section>
</main>

<th:block layout:fragment="custom-endpage-scripts">
    <script th:if="${groupSize < 100}" th:src="@{/javascript/relationsVis.js}"></script>
    <script th:src="@{/javascript/biosamples_sample_links.js}"></script>
    <script th:if="${group.hasSamples()}" th:src="@{/javascript/samplesInGroup.js}"></script>
</th:block>
</body>
</html>
