<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorator="__parent_base"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      th:with="currentPage = 'groups', relationsUrl=${@environment.getProperty('relations.server')}">
<head>
    <title th:text="${group.accession}">SAMEGxxxxx &lt; BioSamples &lt; EMBL-EBI</title>

    <link th:href="@{/stylesheets/relationsVis/vis.min.css}" href="/stylesheets/relationsVis/vis.min.css"  rel="stylesheet" type="text/css"  />
    <link th:href="@{/stylesheets/relationsVis/relationsVis.css}" href="/stylesheets/relationsVis/relationsVis.css"  rel="stylesheet" type="text/css"  />
    <link th:href="@{/stylesheets/relationsVis/awesomplete.css}" href="/stylesheets/relationsVis/awesomplete.css"  rel="stylesheet" type="text/css"  />

    <!--/* Pass SPRING variables to Javascript */-->
    <script th:inline="javascript">
        /*<![CDATA[*/
        window.relationsUrl = [[${relationsUrl}]];
        window.accession = [[${group.accession}]];
        window.baseUrl = [[@{/}]];
        /*]]>*/
    </script>

</head>
<body>


<main layout:fragment="content">

    <!-- Biosamples specific content goes here -->
    <div id="group_content">
        <div class="detail_table">
            <h1 th:text="${'Group ' + group.accession}">Group SAMEGxxxxx</h1>

            <table id="bs_results_tablesamplegroupdetail" class="listing">
                <tbody>
                <!-- Common group attributes -->
                <tr th:if="${#maps.containsKey(group.characteristics, 'group_name') and #arrays.length(group.characteristics.group_name) > 0}">
                    <td class="col_title"><b>Group Name : </b></td>
                    <td>
                        <div th:each="name: ${group.characteristicsText.group_name}">
                            <span th:text="${name}"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="col_title"><b>Submission Title :</b></td>
                    <td th:text="${group.submissionTitle}"></td>
                </tr>
                <tr>
                    <td class="col_title"><b>Submission Identifier :</b></td>
                    <td th:text="${group.submissionAccession}"></td>
                </tr>
                <tr>
                    <td class="col_title"><b>Description :</b></td>
                    <td th:text="${group.description}"></td>
                </tr>
                <tr>
                    <td class="col_title"><b>Release Date :</b></td>
                    <td th:text="${group.releaseDate}"></td>
                </tr>
                <tr>
                    <td class="col_title"><b>Last Updated :</b></td>
                    <td th:text="${group.updateDate}"></td>
                </tr>



                <!-- Dedicated organism attribute -->
                <tr th:if="${#maps.containsKey(group.characteristics, 'organism') and #arrays.length(group.characteristics.organism) > 0}" >
                    <td class="col_title"><b>Organism : </b></td>
                    <td>
                        <div class="characteristic-mapping" th:each="organism: ${group.characteristics.get('organism')}">
                            <div class="characteristic-mapping-payload" th:text="${organism}">{"foo":"bar"}</div>
                        </div>
                    </td>
                </tr>

                <!-- start all characteristics -->
                <tr th:each="characteristic: ${group.characteristics}" th:unless="${characteristic.key == 'organism' or characteristic.key == 'group_name'  or characteristic.key == 'group_title' or characteristic.key == 'group_description'}">
                    <td class="col_title"><b th:utext="${#strings.capitalizeWords(#strings.replace(characteristic.key,'_',' ')) + ' : '}">Characteristic : </b></td>
                    <td th:if="${#maps.containsKey(group.characteristics,characteristic.key)}">
                        <div class="characteristic-mapping" th:each="value: ${group.characteristics.get(characteristic.key)}">
                            <div class="characteristic-mapping-payload" th:text="${value}">{"foo":"bar"}</div>
                        </div>
                    </td>
                </tr>
                <!-- end all characteristics -->

                </tbody>

                <!-- Samples summary table goes here -->
            </table>
        </div>
    </div>

    <div class="group_content__samples">
        <table style="width: 100%">
            <thead>
                <tr>
                    <td>Accession <button @click="sortBy('accession')" class="glyphicon glyphicon-chevron-up"></button></td>
                    <td>Organism <button @click="sortBy('organism')" class="glyphicon glyphicon-chevron-up"></button></td>
                    <td>Name <button @click="sortBy('name')" class="glyphicon glyphicon-chevron-up"></button></td>
                    <td>Description <button @click="sortBy('description')" class="glyphicon glyphicon-chevron-up"></button></td>
                    <td>Database <button @click="sortBy('database')" class="glyphicon glyphicon-chevron-up"></button></td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in items">
                    <td>{{item.accession}}</td>
                    <td>{{item.organism}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.database}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- New part Vis-->
    <div class="relation-graph">
        <h2 class="relation-graph__title">Group Relations</h2>
        <div id="ontology_vis">
        </div>
    </div>


</main>


<th:block layout:fragment="custom-endpage-scripts">
    <script th:src="@{/javascript/relationsVis.js}"></script>
    <script th:src="@{/javascript/samplesInGroup.js}"></script>
</th:block>

</body>
</html>
