<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      layout:decorator="__parent_base"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      th:with="navigationEntry = 'search', apiUrl = @{/api/search}, baseUrl = @{/}">
<head>
    <meta charset="UTF-8">
    <title>Error!</title>
    <link rel="stylesheet" th:href="@{/stylesheets/style.css}" href="../static/stylesheets/style.css" type="text/css" media="screen"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<main layout:fragment="content">
    <section class="error__title">
        <h2>Uh oh... Something went wrong</h2>
        <h3 th:if="${exception}"
            th:text="${exception}">
            </h3>
    </section>

    <section class="error__summary">
        <h4>Some more informations:</h4>

        <p th:if="${url}">
            <b>Page:</b> <span th:text="${url}">Page URL</span>
        </p>

        <p th:if="${timestamp}" id='created'>
            <b>Occurred:</b> <span th:text="${timestamp}">Timestamp</span>
        </p>

        <p th:if="${status}">
            <b>Response Status:</b> <span th:text="${status}">status-code</span> <span
                th:if="${error}" th:text="'('+${error}+')'">error ...</span>
        </p>

        <!--/* ${ex} is set by ourSimpleMappingExceptionResolver,
               ${exception} or ${message} are set internally by Spring Boot. */-->
        <div
                th:if="${ex} or ${exception} or (${message} and ${message.length() != 0})">
            <b>Cause:</b> <span th:if="${ex}" th:text="${ex}">exception ...</span>
            <span th:if="${exception}" th:text="${exception}">exception ...</span>
		<span th:if="${message} and ${message.length() != 0}"
              th:text="${message}">message ...</span>
        </div>

        <th:block th:with="stacktrace = ${exception.stacktrace}" th:if="${stacktrace}">
            <div id="accordion" class="error__details panel panel-default" th:if="${exception != null && exception.stackTrace != null}">
                <div class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a role="button" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#stacktrace"
                           aria-expanded="false">
                            Stack trace
                        </a>
                    </h4>

                </div>
                <div id="stacktrace" class="error__stacktrace collapse panel-body" style="overflow-x: auto">
                    <code class="code--block">
                        <div th:utext="'Failed URL: ' +  ${url}" th:remove="tag">${url}</div>
                    </code>
                    <br><br>
                    <code class="code--block">
                        <ul th:remove="tag" >
                            <li th:each="ste : ${exception.stackTrace}" th:remove="tag">
                                <span th:utext="${ste}" th:remove="tag">${ste}</span></li>
                        </ul>
                    </code>
                    <code class="code--block" th:unless="${exception != null && exception.stackTrace != null}">
                        Sorry - No further details are available
                    </code>
                </div>
            </div>
        </th:block>
    </section>


    <section th:unless="${ex} or ${exception} or (${message} and ${message.length() != 0})">
        <p>Cause unknown (no exception details available)</p>
    </section>

</main>
</body>
</html>