<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorator="__parent_base"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      th:with="navigationEntry = 'search'">
<head>
    <title th:text="${group.accession}">SAMEGxxxxx &lt; BioSamples &lt; EMBL-EBI</title>

    <link th:href="@{/stylesheets/relationsVis/vis.min.css}" href="/stylesheets/relationsVis/vis.min.css"  rel="stylesheet" type="text/css"  />
    <link th:href="@{/stylesheets/relationsVis/relationsVis.css}" href="/stylesheets/relationsVis/relationsVis.css"  rel="stylesheet" type="text/css"  />
    <link th:href="@{/stylesheets/relationsVis/awesomplete.css}" href="/stylesheets/relationsVis/awesomplete.css"  rel="stylesheet" type="text/css"  />
    <link th:href="@{/stylesheets/style.css}" href="/stylesheets/style.css"  rel="stylesheet" type="text/css"  />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!--/* Pass SPRING variables to Javascript */-->
    <script th:inline="javascript">
        /*<![CDATA[*/
        window.relationsUrl = [[${relationsUrl}]];
        window.accession = [[${group.accession}]];
        window.baseUrl = [[@{/}]];
        window.table_attrs = [[${table_attrs}]];
        window.apiUrl = window.baseUrl + "api/samples/search/findByKeywordsAndGroupsContains";
        window.jQuery = jQuery;
        /*]]>*/
    </script>

</head>
<body>

<main layout:fragment="content">

    <nav id="breadcrumb">
        <p>
            <a th:href="@{/}" href="/">BioSamples</a> &gt; <span th:text="${group.accession}"></span>
        </p>
    </nav>

    <!-- Biosamples specific content goes here -->
    <section id="group_content">
        <h4 th:text="${'Group ' + group.accession}">Group SAMEGxxxxx</h4>
        <div class="detail_table">

            <table id="bs_results_tablesamplegroupdetail" class="listing">
                <tbody>
                <!-- Common group attributes -->
                <tr th:if="${#maps.containsKey(group.characteristics, 'group_name') and #arrays.length(group.characteristics.group_name) > 0}">
                    <td class="col_title"><b>Group Name : </b></td>
                    <td>
                        <div th:each="name: ${group.characteristicsText.group_name}">
                            <span th:text="${name}"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="col_title"><b>Submission Title :</b></td>
                    <td th:text="${group.submissionTitle}"></td>
                </tr>
                <tr>
                    <td class="col_title"><b>Submission Identifier :</b></td>
                    <td th:text="${group.submissionAccession}"></td>
                </tr>
                <tr>
                    <td class="col_title"><b>Description :</b></td>
                    <td th:text="${group.description}"></td>
                </tr>
                <tr>
                    <td class="col_title"><b>Release Date :</b></td>
                    <td th:text="${group.releaseDate}"></td>
                </tr>
                <tr>
                    <td class="col_title"><b>Last Updated :</b></td>
                    <td th:text="${group.updateDate}"></td>
                </tr>



                <!-- Dedicated organism attribute -->
                <tr th:if="${#maps.containsKey(group.characteristics, 'organism') and #arrays.length(group.characteristics.organism) > 0}" >
                    <td class="col_title"><b>Organism : </b></td>
                    <td>
                        <div class="characteristic-mapping" th:each="organism: ${group.characteristics.get('organism')}">
                            <div class="characteristic-mapping-payload" th:text="${organism}">{"foo":"bar"}</div>
                        </div>
                    </td>
                </tr>



                <!-- start all characteristics -->
                <tr th:each="characteristic: ${group.characteristics}" th:unless="${characteristic.key == 'organism' or characteristic.key == 'group_name'  or characteristic.key == 'group_title' or characteristic.key == 'group_description'}">
                    <td class="col_title"><b th:utext="${#strings.capitalizeWords(#strings.replace(characteristic.key,'_',' ')) + ' : '}">Characteristic : </b></td>
                    <td th:if="${#maps.containsKey(group.characteristics,characteristic.key)}">
                        <div class="characteristic-mapping" th:each="value: ${group.characteristics.get(characteristic.key)}">
                            <div class="characteristic-mapping-payload" th:text="${value}">{"foo":"bar"}</div>
                        </div>
                    </td>
                </tr>
                <!-- end all characteristics -->
                <tr th:if="${group.hasSamples()}">
                    <td class="col_title"><b>Samples in group: </b></td>
                    <td>
                        <div th:text="${group.numberOfSamples}">#num-of-samples</div>
                    </td>
                </tr>

                <tr>
                    <td class="col_title"><b>External references :</b></td>
                    <td >
                        <p th:if="${#strings.isEmpty(group.externalReferences)}">None</p>
                        <div class="external-references-payload"
                             th:if="${not #strings.isEmpty(group.externalReferences)}"
                             th:text="${group.externalReferences}">
                            [{"name":"bar","acc":"1234","url":"http://www.google.com"},{"name":"foo","acc":"9876","url":"http://www.google.co.uk"}]
                        </div>
                    </td>
                </tr>


                <tr th:if="${common_attrs}">
                    <td class="col_title"><b>Common Attributes</b></td>
                    <td>
                        <table class="common-attr">
                            <thead>
                            <tr>
                                <th th:each="attr: ${common_attrs}"
                                    th:text="${#strings.capitalizeWords(#strings.replace(attr.key,'_',' '))}">attrname</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td th:each="attr: ${common_attrs}" >
                                    <div class="characteristic-mapping">
                                        <div class="characteristic-mapping-payload" th:text="${attr.value[0]}">{"foo":"bar"}</div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>

                        </table>
                    </td>
                </tr>

                </tbody>

                <!-- Samples summary table goes here -->
            </table>
        </div>
    </section>

    <section th:if="${group.hasSamples()}" id="app" class="sample-table col-xs-12">
        <h4>Samples in group</h4>

        <div :class="{loading: isQuerying}"></div>
        <form class="sample-table__controls" @submit="querySamples">
            <div class="controls__search-box">
                <input class="form-control" type="text" style="width:100%" v-model="keyword">
            </div>
            <div class="controls__search-btn">
                <input type="submit" class="btn btn-primary" value="Search">
            </div>
            <pagination class="controls__pagination"
                        :total-results="resultsNumber"
                        :displayed-results="samplesToRetrieve">
            </pagination>
            <items-dropdown class="controls__size-dropdown"
                            :items-per-page="samplesToRetrieve">
            </items-dropdown>
        </form>
        <div class="sample-table__scroll-container">
            <div class="sample-table__scroller"></div>
        </div>
        <div class="sample-table__content" style="overflow: auto;">
            <v-table class="listing"
                     :columns="samplesAttributes"
                     :data="groupSamples"
                     :value-function="readValues">
            </v-table>
        </div>
    </section>

    <!-- New part Vis-->
    <section class="relation-graph col-xs-12">
        <h4>Group Relations</h4>
        <div th:if="${groupSize < 100 and groupSize > 0}" id="ontology_vis"></div>
        <h3 th:if="${groupSize >= 100}">Too many relationships to display</h3>
        <h3 th:if="${groupSize <= 0}">No relationships to display</h3>
    </section>
</main>

<th:block layout:fragment="custom-endpage-scripts">
    <script th:if="${groupSize < 100}" th:src="@{/javascript/relationsVis.js}"></script>
    <script th:src="@{/javascript/biosamples_sample_links.js}"></script>
    <script th:if="${group.hasSamples()}" th:src="@{/javascript/samplesInGroup.js}"></script>
</th:block>

</body>
</html>
