<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	  layout:decorator="__parent_base"
	  xmlns:layout="http://www.w3.org/1999/xhtml"
	  th:with="navigationEntry = 'home', overrideTitle = true">
<head>
	<title>Biosamples &lt; EMBL-EBI</title>
	<script th:inline="javascript">
		/*<![CDATA[*/
		window.apiUrl = [[${apiUrl}]];
		window.baseUrl = [[${baseUrl}]];
		window.searchUrl = [[@{/search}]];
		/*]]>*/
	</script>
</head>
<body>

<div layout:fragment="content">

	<div id="bs_content">
		<section class="grid_4">&nbsp;</section>
		<section class="grid_16">
			<th:block th:replace="fragments/searchForm::searchInput"></th:block>
		</section>
		<section class="grid_4">&nbsp;</section>


		<section class="grid_24" style="margin-top: 2em;">
			<p class="intro justify">
				BioSamples stores and supplies descriptions and metadata about biological samples used in research and development by academia and industry. Samples are either 'reference' samples
				(e.g. from <a href="http://www.internationalgenome.org">1000 Genomes</a>, <a href="http://www.hipsci.org">HipSci</a>,
				<a href="http://www.faang.org">FAANG</a>) or have been used in an assay database such as the <a href="http://www.ebi.ac.uk/ena">European Nucleotide Archive (ENA)</a> or <a href="http://www.ebi.ac.uk/arrayexpress">ArrayExpress</a>.
		</section>

		<div class="grid_12 alpha">
			<h3 class="icon icon-generic" data-icon="L">Info</h3>
			<ul>
				<li><a href="help/index.html">Help pages</a> about how to
					search BioSamples, how to submit data, and FAQ.</li>
				<li><a href="help/api.html">Programmatic access</a> to query
					and download data using web services.</li>
				<li>Contact us by emailing <a
						href="mailto:biosamples@ebi.ac.uk">biosamples@ebi.ac.uk</a></li>
			</ul>
		</div>
		<div class="grid_12 omega">
			<h3 class="icon icon-generic" data-icon="g">Data Content</h3>
			<div class="grid_24">
				<table class="data-content">
					<tr>
						<td><a href="search?searchTerm=ebisc" ><img
								src="images/dblinks/ebisc_logo.png" alt="EBiSC" title="EBiSC" /></a></td>
						<td><a href="search?searchTerm=faang" ><img
								src="images/dblinks/faang_logo.png" alt="FAANG" title="FAANG" /></a></td>
						<td><a href="search?searchTerm=hipsci" ><img
								src="images/dblinks/hipsci_small_logo.png" alt="HipSci"
								title="HipSci" /></a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
</body>
</html>
