<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	layout:decorator="__parent_base"
	xmlns:layout="http://www.w3.org/1999/xhtml"
	th:with="currentPage = 'home', overrideTitle = true">
<head>
<title>Biosamples &lt; EMBL-EBI</title>
</head>
<body>

	<div layout:fragment="content">

		<div id="bs_content">
			<section>
				<h2>BioSamples - database of sample descriptions</h2>
				<p class="intro justify">
					The BioSamples database aggregates sample information for reference
					samples (e.g. Coriell Cell lines) and samples for which data exist
					in one of the EBI&#39;s assay databases such as <a
						href="//www.ebi.ac.uk/arrayexpress">ArrayExpress</a>, the <a
						href="//www.ebi.ac.uk/ena">European Nucleotide Archive</a> or <a
						href="//www.ebi.ac.uk/pride">PRIDE</a>. It provides links to
					assays for specific samples, and accepts direct submissions of
					samples information.
				</p>
			</section>

			<div class="grid_8 alpha">
				<h3 class="icon icon-generic" data-icon="L">Info</h3>
				<ul>
					<li><a href="help/index.html">Help pages</a> about
						how to search BioSamples, how to submit data, and FAQ.</li>
					<li><a href="help/api.html">Programmatic
							access</a> to query and download data using web services.</li>
					<li>Contact us by emailing <a
						href="mailto:biosamples@ebi.ac.uk">biosamples@ebi.ac.uk</a></li>
				</ul>
			</div>
			<div class="grid_8">
				<h3 class="icon icon-generic" data-icon="L">External links</h3>
				<ul>
					<li><a href="//www.ebisc.org">European Bank for induced pluripotent Stem Cells (EBiSC)</a></li>
					<li><a href="//www.hipsci.org">Human Induced Pluripotent Stem Cells Initiative (HipSci)</a></li>
					<li><a href="//www.faang.org">Functional Annotation of Animal Genomes (FAANG)</a></li>
					<li><a href="//www.1000genomes.org/">1000 Genomes</a></li>
					<li><a href="//www.genome.gov/26524238">Encyclopedia of	DNA Elements (ENCODE)</a></li>
				</ul>
			</div>
			<div class="grid_8 omega">
				<section>
					<h3 class="icon icon-generic" data-icon="g">Data Content</h3>
					<a href="search?query=ebisc" id="iconelink"><img
						src="images/dblinks/ebisc_logo.png" alt="EBiSC" border="0"
						title="EBiSC" /></a>
					<a href="search?query=hipsci" id="iconelink"><img
						src="images/dblinks/hipsci_small_logo.png" alt="Hipsci" border="0"
						title="Hipsci" /></a>
					<a href="search?query=faang" id="iconelink"><img
						src="images/dblinks/faang_logo.png" alt="FAANG" border="0"
						title="FAANG" /></a>
				</section>
			</div>
		</div>

	</div>
</body>
</html>
