<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorator="__parent_base"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      th:with="navigationEntry = 'search', apiUrl = @{/api}, baseUrl = @{/}">
<head>

    <title>Search</title>
    <!--<link rel="stylesheet" href="stylesheets/main_samelf.css">-->
    <link rel="stylesheet" th:href="@{/stylesheets/style.css}" href="../static/stylesheets/style.css" type="text/css" media="screen"/>
    <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <!-- All JavaScript at the bottom, except for Modernizr / Respond.
         Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries
         For optimal performance, use a custom Modernizr build: www.modernizr.com/download/ -->

    <!-- Full build -->
    <!-- <script src="//www.ebi.ac.uk/web_guidelines/js/libs/modernizr.minified.2.1.6.js"></script> -->

    <!-- custom build (lacks most of the "advanced" HTML5 support -->
    <script src="//www.ebi.ac.uk/web_guidelines/js/libs/modernizr.custom.49274.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        window.apiUrl = [[${apiUrl}]];
        window.baseUrl = [[${baseUrl}]];
        /*]]>*/
    </script>
    <!-- end CSS-->
</head>
<body class="level2" id="app"><!-- add any of your classes or IDs -->

<div id="skip-to">
    <ul>
        <li><a href="#content">Skip to main content</a></li>
        <li><a href="#local-nav">Skip to local navigation</a></li>
        <li><a href="#global-nav">Skip to EBI global navigation menu</a></li>
        <li><a href="#global-nav-expanded">Skip to expanded EBI global navigation menu (includes all sub-sections)</a></li>
    </ul>
</div>

<div id="wrapper" class="container_24">
    <header>
        <div id="global-masthead" class="masthead grid_24">
            <!--This has to be one line and no newline characters-->
            <a href="//www.ebi.ac.uk/" title="Go to the EMBL-EBI homepage"><img src="//www.ebi.ac.uk/web_guidelines/images/logos/EMBL-EBI/EMBL_EBI_Logo_white.png" alt="EMBL European Bioinformatics Institute"/></a>

            <div layout:fragment="content">

                <div v-if="hasAlerts" class="alerts__container" >
                    <component v-for="alert in alerts"
                               is="alert"
                               :type="alert.type"
                               :timeout="alert.timeout"
                               @alert-closed="removeAlert(alert)">
                        {{alert.message}}
                    </component>
                </div>

                <div :class="{loading: isQuerying}"></div>

                <nav id="breadcrumb">
                    <p>
                        <a th:href="@{/}" href="/">BioSamples</a> &gt; <a th:href="@{/search}" href="../search">Search</a></span>
                    </p>
                </nav>

                <!-- Example layout containers -->

                <section id="sectionTitle" >
                    <h2>BioSample Database Search Interface</h2>
                </section>


                <div>
                    <component is="shield"
                               v-for="(key, value) in filterList"
                               :key="key"
                               :value="value"
                               :closable="true"
                               value-color="random"
                               @shield-closed="removeFilter(key)">
                    </component>
                </div>
                <section id="sectionList" class="container" v-show="queryTermPresent" v-cloak>

                    <div v-if="!queryHasResults">
                        <div class="row">
                            <h3>
                                No results have been found for <i>{{queryTerm}}</i>
                                <span class="small"><a href="#" @click="querySamplesUsingFuzzy()">Try for similar terms?</a></span>
                            </h3>
                        </div>
                    </div>

                    <div v-else="">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-8"><h3>Search results for: <i>{{queryTerm}}<span v-if="useFuzzy" class="small"> (and related terms)</span></i></h3></div>
                        </div>
                        <div v-else="">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3>Refine search results</h3>
                                            </div>
                                            <div class="panel-body">
                                                <form>
                                                    <label for="fuzzy-search">Search for similar terms</label>
                                                    <input type="checkbox" id="fuzzy-search" name="fuzzy-search"
                                                           v-model="useFuzzy" @change="querySamples" />
                                                </form>

                                                <component is="facet"
                                                           v-for="(key,facetObj) in facets"
                                                           :title="key | startCase"
                                                           :keys="facetObj.keys"
                                                           :values="facetObj.vals"
                                                           :facet-id="key + 'Filter'">
                                                </component>
                                            </div>
                                            <div class="panel-footer">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <component is="pagination"
                                                                   :total-results="resultsNumber"
                                                                   :displayed-results="samplesToRetrieve"
                                                                   style="float:right">
                                                        </component>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <component is="items-dropdown"
                                                                   :items-per-page="samplesToRetrieve">
                                                        </component>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <component is="biosample"
                                               v-for="biosample in biosamples"
                                               :content="biosample"
                                               :display-function="biosampleMap">

                                    </component>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>

                <!-- /*
              <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#sectionList">List of results</a></li>
                <li><a data-toggle="tab" href="#sectionVisualisation">Visualisation</a></li>
              </ul>


                <div class="tab-content">
                  <section id="sectionList" class="container tab-pane fade in active" v-show="queryTermPresent" v-cloak>

                      <div v-if="!queryHasResults">
                          <div class="row">
                              <h3>
                                  No results have been found for <i>{{queryTerm}}</i>
                                  <span class="small"><a href="#" v-on:click="querySamplesUsingFuzzy()">Try for similar terms?</a></span>
                              </h3>
                          </div>
                      </div>

                      <div v-else="">
                          <div class="row">
                              <div class="col-md-4"></div>
                              <div class="col-md-8"><h3>Search results for: <i>{{queryTerm}}<span v-if="useFuzzy" class="small"> (and related terms)</span></i></h3></div>
                          </div>
                          <div v-else="">
                              <div class="row">
                                  <div class="col-md-4">
                                      <div class="row">
                                          <div class="panel panel-default">
                                              <div class="panel-heading">
                                                  <h3>Refine search results</h3>
                                              </div>
                                              <div class="panel-body">
                                                  <form>
                                                      <label for="fuzzy-search">Search for similar terms</label>
                                                      <input type="checkbox" id="fuzzy-search" name="fuzzy-search"
                                                             v-model="useFuzzy" v-on:change="querySamples" />
                                                  </form>

                                                  <component v-for="(key,facetObj) in facets"
                                                             is="facet" v-bind:title="key | startCase"
                                                             v-bind:keys="facetObj.keys"
                                                             v-bind:values="facetObj.vals"
                                                             v-bind:facet-id="key + 'Filter'">
                                                  </component>
                                              </div>
                                              <div class="panel-footer">
                                                  <div class="row">
                                                      <div class="col-md-6">
                                                          <component is="pagination"
                                                                     v-bind:total-results="resultsNumber"
                                                                     v-bind:displayed-results="samplesToRetrieve"
                                                                     style="float:right">
                                                          </component>
                                                      </div>
                                                      <div class="col-md-6">
                                                          <component is="items-dropdown"
                                                              v-bind:items-per-page="samplesToRetrieve">
                                                          </component>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-md-8">
                                      <component is="biosamples-list"
                                                 v-bind:elements="biosamples">
                                      </component>
                                  </div>
                              </div>
                          </div>

                      </div>
                  </section>

              <section id="sectionVisualisation" class='tab-pane fade'>

                <div id="buttonRezInfo" style="border:solid;border-color:grey;  border-radius:1px;visibility:hidden;">
                  <h4 id="titleRezInfo" >
                    Display result information
                  </h4>
                </div>
                <div id="sectionVizResult"
                style="display:none;
                overflow: auto;" >
                </div>


                <div id="areaNodeLink">
                  <div id= "vizNodeLink"></div>
                  <div id="infoVizRelations">
                    <div id="numberMatches">  </div>
                    <div id="vizRepresentation"> <h4> Switch the display of the results according to : </h4> <br/>
                      <div id="representationButton" name="representationButton" active="false" value="Sample">Sample</div><br>
                    </div>
                    <div id ="buttons-display" style="display:none;">
                      <h4> Decide the number of elements fully loaded : </h4>
                        <li style="list-style:none;">
                          <ul>
                            <component is="items-dropdown"> </component>
                          </ul>
                          <ul>
                            <component is="pagination" v-bind:total-results="resultsNumber" v-bind:displayed-results="samplesToRetrieve">
                            </component>
                          </ul>
                          <ul>
                            <h4 style="display:inline"> Display text of all samples </h4>  <input type="checkbox" onclick='showTextSamples(this)' />
                          </ul>
                          <ul>
                            <div id="saveButton" onclick='saveURL(this)'> <p> Get the URL to find back the current filters <p/> </div>
                          </ul>
                        </li>
                      <hr/>
                    </div>
                    <div id="dynamicText">
                      <h3> Clicked element information </h3>
                      <div id="textData" style="overflow:hidden">Click on an element of the diagram to display its information </div>
                    </div>
                  </div>
                </div>
              </section>

                </div>

                <div id="elementHelp"> Help </div>
                <div id="infoPop"> Temporary display of information </div>
                */ -->

                <th:block layout:fragment="custom-endpage-scripts">
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/history.js/1.8/bundled-uncompressed/html4+html5/native.history.js"></script>
                    <script th:src="@{/javascript/searchComponents.js}"></script>
                    <!--<script th:src="@{/javascript/toolsFunctions.js}"></script>-->
                    <!--<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>-->

                </th:block>

</body>
</html>
