<div class="row">
    <div class="form-group col-md-8">
        <input type="text" name="searchTerm" id="inputSearchTerm" class="form-control" value="" placeholder="Filter results..." v-model="filterTerm">
    </div>

    <div class="col-md-2">
        <pagination v-bind:totalResults="totalResults"
                    v-bind:displayedResults="displayedResults"
                    v-bind:currentPage.sync="currentPage"
                    style="float:right">
        </pagination>
    </div>
    <div class="col-md-2">
        <items-dropdown 
                    v-bind:choices="availableItemsPerPage"
                    v-textFiller="Items per page: "
                    style="float:right">
        </items-dropdown>    
    </div>
</div>