<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer th:fragment="footer">
    <!-- Optional local footer (insert citation / project-specific copyright / etc here -->
    <!--
    <div id="local-footer" class="grid_24 clearfix">
      <p>How to reference this page: ...</p>
    </div>
    -->
    <!-- End optional local footer -->

    <div class="container">
        <p style="text-align: center">Copyright &copy;
            <a href="//www.ebi.ac.uk/">EMBL-EBI</a> 2015 | EMBL-EBI is an Outstation of the
            <a href="http://www.embl.org">European Molecular Biology Laboratory</a> |
            <a href="//www.ebi.ac.uk/about/privacy">Privacy</a> |
            <a href="//www.ebi.ac.uk/about/cookies">Cookies</a> |
            <a href="//www.ebi.ac.uk/about/terms-of-use">Terms of use</a>
        </p>
    </div>
</footer>
</body>
</html>
