<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th v-repeat="column: _columns">
                    <a href="#" v-on="click: sortBy(column)"
                    v-class="active: sortKey == column"
                    >{{column | capitalize}}</a>
                    <div class="triangle triangle-down"
                    v-class="active: sortKey == column && ! reverseSort"></div>
                    <div class="triangle triangle-up"
                    v-class="active: sortKey == column && reverseSort"></div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-repeat="elements | filterBy filterTerm | orderBy sortKey reverseSort">
                <td>{{getTitle()}}</td>
                <td>{{getType()}}</td>
                <td>{{getDescription()}}</td>
                <td>{{getReleaseDate()}}</td>
            </tr>
        </tbody>
    </table>
</div>