<!doctype html>
<html th:with="overrideTitle = true" layout:decorator="base" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Biosamples &lt; EMBL-EBI</title>
</head>
<body>

<nav layout:fragment="navigation" >
        <ul>
            <li class="first active"><a href="/" title="Biosamples">Home</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/samples" title="Samples">Samples</a></li>
            <li><a href="/groups" title="Groups">Sample Groups</a></li>
            <li><a href="/help/submit" title="Submit">Submit</a></li>
            <li><a href="/help/index" title="Help">Help</a></li>
            <li class="last"><a href="/about">About BioSamples</a></li>
            <li class="functional feedback last first"><a href="#" class="icon icon-static" data-icon="\">Feedback</a></li>
        </ul>
</nav>

<div layout:fragment="content">

    <div id="bs_content">
        <section>
            <h2>BioSamples - database of sample descriptions</h2>
            <p class="intro justify">
                The BioSamples database aggregates sample information for reference
                samples (e.g. Coriell Cell lines) and samples for which data exist
                in one of the EBI&#39;s assay databases such as <a
                    href="//www.ebi.ac.uk/arrayexpress">ArrayExpress</a>, the <a
                    href="//www.ebi.ac.uk/ena">European Nucleotide Archive</a> or <a
                    href="//www.ebi.ac.uk/pride">PRIDE</a>.
                It provides links to assays for specific samples, and accepts direct submissions of samples information.
            </p>
        </section>

        <div class="grid_8 alpha">
            <h3 class="icon icon-generic" data-icon="L">Info</h3>
            <ul>
                <li><a href="/biosamples/help/index.html">Help pages</a> about
                    how to search BioSamples, how to submit data, and FAQ.</li>
                <li><a href="/biosamples/help/api.html">Programmatic access</a>
                    to query and download data using web services.</li>
                <li><a href="/biosamples/help/news.html">Latest news</a> about
                    BioSamples database.</li>
                <li>The BioSamples database now offers access to <a
                        href="http://www.ebi.ac.uk/rdf/services/biosamples/">RDF</a>, and a
                    supporting <a
                            href="http://www.ebi.ac.uk/rdf/services/biosamples/sparql">SPARQL
                        endpoint</a> as part of the <a href="http://www.ebi.ac.uk/rdf">EBI's
                        RDF platform</a>.
                </li>
                <li>Contact us by emailing <a
                        href="mailto:biosamples@ebi.ac.uk">biosamples@ebi.ac.uk</a></li>
            </ul>
        </div>
        <div class="grid_8">
            <h3 class="icon icon-generic" data-icon="L">External links</h3>
            <ul>
                <li><a href="//www.ebi.ac.uk/efo/">Experimental Factor
                    Ontology</a></li>
                <li><a href="//www.hipsci.org">Human Induced Pluripotent
                    Stem Cells Initiative (HipSci)</a></li>
                <li><a href="//www.1000genomes.org/">1000 Genomes</a></li>
                <li><a href="//www.genome.gov/26524238">Encyclopedia of DNA
                    Elements (ENCODE)</a></li>
                <li><a
                        href="//cancer.sanger.ac.uk/cancergenome/projects/cosmic/">Catalogue
                    Of Somatic Mutations In Cancer (COSMIC)</a></li>
            </ul>
        </div>
        <div class="grid_8 omega">
            <section>
                <h3 class="icon icon-generic" data-icon="g">Data Content</h3>
                <!-- <h5>Updated today at 06:00</h5> -->

                <ul>
                    <li><span id="totalSamples"></span> Samples</li>
                    <li><span id="totalGroups"></span> Groups</li>
                    <!-- <li>XXXX Samples</li>
                    <li>YYYYY groups</li>
                    <li>XXXX Samples</li>
                    <li>YYYYY groups</li>
                    <li>XXXX Samples</li>
                    <li>YYYYY groups</li>
                    <li>XXXX Samples</li>
                    <li>YYYYY groups</li>
                    <li>XXXX Samples</li>
                    <li>YYYYY groups</li>
                    <li>XXXX Samples</li>
                    <li>YYYYY groups</li> -->
                </ul>

                &nbsp;&nbsp;<a href="//www.ebi.ac.uk/biosamples/search?query=hipsci" id="iconelink"><img src="images/dblinks/hipsci_small_logo.png" alt="Hipsci" border="0" title="Hipsci" /></a><br/>
				<span class="${interface.application.metadata.class}"><a
                        href="metadata?class=${interface.application.body.class}"
                        target="ext">Metadata</a></span>
            </section>
        </div>
    </div>

</div>
</body>
</html>
