<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorator="parent_layouts/base"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      th:with="currentPage = 'search', apiUrl = @{/api/search}">
<head>
    <title>Search</title>
    <!--<link rel="stylesheet" href="stylesheets/main_samelf.css">-->
    <link rel="stylesheet" th:href="@{/stylesheets/main_samelf.css}" href="../static/stylesheets/main_samelf.css" type="text/css" media="screen"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        window.apiUrl = [[${apiUrl}]];
        /*]]>*/
    </script>
</head>
<body id="app">


<div layout:fragment="content">


    <nav id="breadcrumb">
        <p>
            <a th:href="@{/}" href="/">BioSamples</a> &gt; <a th:href="@{/search}" href="../search">Search</a></span>
        </p>
    </nav>

    <!-- Example layout containers -->

    <section>
        <h2>BioSample Database Search Interface</h2>
    </section>

    <section class="container" v-show="queryTermPresent" v-cloak>
        <div v-if="!queryHasResults">
            <div class="row">
                <h3>
                    No results have been found for <i>{{queryTerm}}</i>

                    <span class="small"><a href="#" v-on:click="querySamplesUsingFuzzy()">Try for similar terms?</a></span>
                </h3>
            </div>
        </div>
        <div v-else="" v-on:mouseenter="saveHistoryState">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-8"><h3>Search results for: <i>{{queryTerm}}<span v-if="useFuzzy" class="small"> (and related terms)</span></i></h3></div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3>Refine search results</h3>
                            </div>
                            <div class="panel-body">
                                <form>
                                    <label for="fuzzy-search">Search for similar terms</label>
                                    <input type="checkbox" id="fuzzy-search" name="fuzzy-search"
                                           v-model="useFuzzy"
                                           v-on:change="querySamples" />
                                </form>
                               
                                <component v-for="(key,facetObj) in facets" 
                                            is="facet" v-bind:title="key"
                                            v-bind:keys="facetObj.keys"
                                            v-bind:values="facetObj.vals"
                                            v-bind:facet-id="key + 'Filter'">
                                </component>
                                <!-- <component is="facet" title="Content Type"
                                           v-bind:keys="facets.types.keys"
                                           v-bind:values="facets.types.vals"
                                           facet-id="typeFilter">
                                </component>
                                <component is="facet" title="Organ"
                                           v-bind:keys="facets.organs.keys"
                                           v-bind:values="facets.organs.vals"
                                           facet-id="organFilter">
                                </component> -->
                                <!--<component is="facet" title="Organism"
                                        :keys="facets.organisms.keys"
                                        :values="facets.organisms.vals"
                                        facet-id="organismFilter">
                                </component> -->
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-md-6">
                                        <component is="pagination"
                                                   v-bind:total-results="resultsNumber"
                                                   v-bind:displayed-results="samplesToRetrieve"
                                                   style="float:right">
                                        </component>
                                    </div>
                                    <div class="col-md-6">
                                        <component is="items-dropdown">
                                        </component>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <component is="biosamples-list"
                               v-bind:elements="biosamples">
                    </component>
                </div>
            </div>
        </div>
    </section>
</div>

<th:block layout:fragment="custom-endpage-scripts">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/history.js/1.8/bundled-uncompressed/html4+html5/native.history.js"></script>
    <script>

    </script>
    <script th:src="@{/javascript/searchComponents.js}"></script>
</th:block>

</body>
</html>
