<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Seach Form</title>
</head>
<body>

<!-- Search Input Form - based on Vue.js javascript framework -->
<form th:fragment="searchInput" method="post" v-on:submit.prevent="querySamplesOnScratch" class="biosample-search">

        <div class="col-md-10">

            <component is="autosuggest"
                       name="searchTerm"
                       :search-term.sync="searchTerm"
                       th:attr="src=@{/api/suggest}"
                       query-param-name="term"
                       :min-chars="0"
                       :limit="5"></component>
                <!--<input type="text"-->
                       <!--@keyUp="getSuggestedTerms"-->
                       <!--th:value="${searchTerm}"-->
                       <!--name="first"-->
                       <!--id="local-searchbox"-->
                       <!--placeholder="Start your search"-->
                       <!--v-model="searchTerm"/>-->
                <!--<ul>-->
                    <!--<li v-for="item of suggestedTerms">{{item}}</li>-->
                <!--</ul>-->
        </div>

        <div class="col-md-2">
            <input type="submit" name="submit" value="Search" class="btn btn-primary"/>
        </div>

</form>
</body>
</html>