<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorator="__parent_base"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      th:with="navigationEntry = 'search', isSearch=true">
<head>

    <title>Search</title>
    <link rel="stylesheet" th:href="@{/stylesheets/style.css}" href="../static/stylesheets/style.css" type="text/css" media="screen"/>
    <!-- All JavaScript at the bottom, except for Modernizr / Respond.
         Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries
         For optimal performance, use a custom Modernizr build: www.modernizr.com/download/ -->

    <!-- Full build -->
    <!-- <script src="//www.ebi.ac.uk/web_guidelines/js/libs/modernizr.minified.2.1.6.js"></script> -->

    <!-- custom build (lacks most of the "advanced" HTML5 support -->
    <script src="//www.ebi.ac.uk/web_guidelines/js/libs/modernizr.custom.49274.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- end CSS-->
</head>
<body class="level2" id="app"><!-- add any of your classes or IDs -->

<div id="skip-to">
    <ul>
        <li><a href="#content">Skip to main content</a></li>
        <li><a href="#local-nav">Skip to local navigation</a></li>
        <li><a href="#global-nav">Skip to EBI global navigation menu</a></li>
        <li><a href="#global-nav-expanded">Skip to expanded EBI global navigation menu (includes all sub-sections)</a></li>
    </ul>
</div>

<div id="wrapper" class="container_24">
    <header>
        <div id="global-masthead" class="masthead grid_24">
            <!--This has to be one line and no newline characters-->
            <a href="//www.ebi.ac.uk/" title="Go to the EMBL-EBI homepage"><img src="//www.ebi.ac.uk/web_guidelines/images/logos/EMBL-EBI/EMBL_EBI_Logo_white.png" alt="EMBL European Bioinformatics Institute"/></a>

            <div layout:fragment="content">

                <div v-if="hasAlerts" class="alerts__container" >
                    <component v-for="alert in alerts"
                               is="alert"
                               :type="alert.type"
                               :timeout="alert.timeout"
                               @alert-closed="removeAlert(alert)">
                        {{alert.message}}
                    </component>
                </div>

                <div :class="{loading: isQuerying}"></div>

                <nav id="breadcrumb">
                    <p>
                        <a th:href="@{/}" href="/">BioSamples</a> &gt; <a th:href="@{/search}" href="../search">Search</a></span>
                    </p>
                </nav>

                <!-- Example layout containers -->

                <section id="sectionTitle" >
                    <h2>BioSample Database Search Interface</h2>
                </section>


                <div class="facet-filter-list">
                    <component is="shield"
                               v-for="(key, value) in filterList"
                               :key="key"
                               :value="value"
                               :closable="true"
                               value-color="random"
                               @shield-closed="removeFilter(key)">
                    </component>
                </div>
                <section id="sectionList" class="container" v-show="submittedQuery" v-cloak>

                    <div v-if="!queryHasResults">
                        <div class="row">
                            <h3>
                                No results have been found for <i>{{queryTerm}}</i>
                                <span class="small"><a href="#" @click="querySamplesUsingFuzzy()">Try for similar terms?</a></span>
                            </h3>
                        </div>
                    </div>

                    <div v-else="">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-8">
                                <h3>{{resultsNumber | numberFormat }} entries found <span v-if="queryTerm != ''">for: <i>{{queryTerm}}
                                    <span v-if="useFuzzy" class="small"> (and related terms)</span></i></span>
                                </h3>
                            </div>
                        </div>
                        <div v-else="">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3>Refine search results</h3>
                                            </div>
                                            <div class="panel-body">
                                                <form>
                                                    <label for="fuzzy-search">Search for similar terms</label>
                                                    <input type="checkbox" id="fuzzy-search" name="fuzzy-search"
                                                           v-model="useFuzzy" @change="querySamples" />
                                                </form>

                                                <component is="facet"
                                                           v-for="(key,facetObj) in facets"
                                                           :title="key | startCase"
                                                           :keys="facetObj.keys"
                                                           :values="facetObj.vals"
                                                           :facet-id="key + 'Filter'">
                                                </component>
                                            </div>
                                            <div class="panel-footer">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <component is="pagination"
                                                                   :total-results="resultsNumber"
                                                                   :displayed-results="samplesToRetrieve"
                                                                   style="float:right">
                                                        </component>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <component is="items-dropdown"
                                                                   :items-per-page="samplesToRetrieve">
                                                        </component>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <component is="biosample"
                                               v-for="biosample in biosamples"
                                               :content="biosample"
                                               :display-function="biosampleMap">

                                    </component>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>

                <th:block layout:fragment="custom-endpage-scripts">
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/history.js/1.8/bundled-uncompressed/html4+html5/native.history.js"></script>
                    <script th:src="@{/javascript/searchComponents.js}"></script>
                    <!--/* This code is for the D3 navigation /*-->
                    <!--/*
                        <script th:src="@{/javascript/toolsFunctions.js}"></script>
                        <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
                    */-->

                </th:block>

</body>
</html>
