<div class="panel panel-default">
	<div class="panel-heading v-align-children">		
		<span class="h3"><a v-html="title" v-link="{ path: itemPage }"></a></span>
		<span class="label label-success" v-html="type"></span>
		<span class="label label-info" v-html="accession"></span>
	</div>
	<div class="panel-body" v-html="description | excerpt"></div>
	<div class="panel-footer">
		<span class="small">Released on: <span v-text="release_date"></span></span>
		<span style="float: right">Accession: <span class="label label-info" v-html="accession"></span></span>
	</div>
</div>