<div v-if="hasFacets()" class="panel panel-default facet-panel">
    <div class="panel-heading">
        <h5>{{title | capitalize}}</h5>
    </div>
    <div class="panel-body facet-panel__content">
        <ul class="list-group facet-list">
            <li v-for="key in keys" @click="facetSelected(key)"
                class="list-group-item facet-entry"
                :class="{'selected': isSelected(key)}"
                style="display:flex; justify-content:space-between; align-items: center;">
                <div class="facet-name">
                    <span class="h5">{{key}}</span>
                </div>
                <div class="facet-count">
                    <span class="badge">{{values[$index]}}</span>
                </div>
            </li>
        </ul>
    </div>
</div>
