$icon-font-path: '../fonts/';
$primary-color:   #B6DEDF;
$highlight-color:  #9CFF0D;
// bower:scss
@import "custom_bootstrap.scss";
// endbower
@import 'components/side_panel';
@import 'mixins/flexbox-mixins';
@import 'grid/flexbox';
@import 'components/loading';


// personal:scss

[v-cloak] {
  display: none;
}

.pagination {
  margin: 0;
  display: flex;
  align-items: center;
  #inputPageContainer {
    text-align: center;
    min-width: 100px;

    &.editMode {
      input {
        text-align: center;
        border: none;
        margin: -1px;
        max-width: 50px;
      }
    }
    
  }
}

.highlight {
  background-color: $highlight-color;
}


.v-align-children {
   // display:table;
   & * {
      vertical-align: middle;
   }
}

a.v-link-active {
  color: red;
  font-weight: bold;
  text-decoration: none;
}



.badge {
  background-color: $primary-color;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  // .container {
  //   max-width: 730px;
  // }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
